@font-face {
    font-family: 'sevillasevilla';
    src: url('../fonts/sevilla-webfont.woff2') format('woff2'),
         url('../fonts/sevilla-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pure_heartregular';
    src: url('../fonts/pureheart-regular-webfont.woff2') format('woff2'),
         url('../fonts/pureheart-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}