.cit-fade-in {
    animation-name: cit-fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.cit-bounce {
    animation-name: cit-bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: ease;
}