* {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 16px;
	font-family: 'open-sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'adobe-garamond', Times, serif;
	color: #3975b7;
	margin-bottom: 1.5em;
}

p {
	font-size: 18px;
	margin: 1.5em 0;
}

a {
	color: #3975b7;
}