#masthead {
	background-color: rgba(0, 0, 0, .2);
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 99;
}

#masthead.scrolled {
	background-color: rgba(31, 58, 96, 1);
}

#masthead a {
	display: block;
	text-align: center;
}

#masthead img {
	display: block;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}