article.post {
	padding-top: 100vh;
}

article.post .entry-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	z-index: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

article.post .entry-content {
	position: relative;
	z-index: 1;
	background-color: #ffffff;
}

.mag-content-table {
	display: table;
    position: relative;
    height: 100%;
    background-color: rgba(31, 58, 96, 0);
    -webkit-transition: background-color ease .25s;
    -moz-transition: background-color ease .25s;
    -o-transition: background-color ease .25s;
    -ms-transition: background-color ease .25s;
    transition: background-color ease .25s;
}

.magazine-header-content {
    display: table-cell;
    vertical-align: middle;
}

.magazine-header-content.left {
    text-align: left;
}

.magazine-header-content.center {
    text-align: center;
}

.magazine-header-content.right {
    text-align: right;
}

.magazine-header-content .section-title {
    color: #fff;
    border-bottom: none;
    display: inline-block;
    width: auto;
}

article.post .magazine-header-content {
    width: 100%;
    display: table-cell;
    position: relative;
    height: 100vh;
    z-index: 1;
    vertical-align: middle;
    padding: 0;
    text-align: right;
}

article.post .section-title {
    float: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: .5em;
    text-shadow: 0 0 20px #000;
}

.magazine-deck {
    margin: 1.5em 0 1em auto;
    text-shadow: 0 0 8px #000;
	color: #ffffff;
    max-width: 650px;
    width: 100%;
	font-size: 16px;
}

.magazine-byline {
    color: #ffffff;
    margin-bottom: 1em;
    text-shadow: 0 0 8px #000;
	font-size: 16px;
}

.magazine-byline .uppercase {
    font-weight: bold;
}

.view-story {
    padding: 0;
    color: #fff;
    font-size: 2.5em;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-shadow: 0 0 8px #000;
}