/*
Theme Name: The Citadel Magazine 2018
Theme URI: https://magazine.citadel.edu/2018/
Author: the Citadel Webmaster
Author URI: https://magazine.citadel.edu/
Description: Custom theme for the 2018 Citadel Magazine
Requires at least: WordPress 4.9.6
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: citadel-mag-2018
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*----------------------------
Style Resets
----------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------
Default Styles
----------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'open-sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'adobe-garamond', Times, serif;
  color: #3975b7;
  margin-bottom: 1.5em;
}

p {
  font-size: 18px;
  margin: 1.5em 0;
}

a {
  color: #3975b7;
}

/*----------------------------
Layout Classes
----------------------------*/
.container {
  max-width: 1300px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.story-container {
  max-width: 800px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}

/*----------------------------
Header
----------------------------*/
#masthead {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
}

#masthead.scrolled {
  background-color: #1f3a60;
}

#masthead a {
  display: block;
  text-align: center;
}

#masthead img {
  display: block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------
Posts
----------------------------*/
article.post {
  padding-top: 100vh;
}

article.post .entry-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

article.post .entry-content {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

.mag-content-table {
  display: table;
  position: relative;
  height: 100%;
  background-color: rgba(31, 58, 96, 0);
  -webkit-transition: background-color ease .25s;
  transition: background-color ease .25s;
}

.magazine-header-content {
  display: table-cell;
  vertical-align: middle;
}

.magazine-header-content.left {
  text-align: left;
}

.magazine-header-content.center {
  text-align: center;
}

.magazine-header-content.right {
  text-align: right;
}

.magazine-header-content .section-title {
  color: #fff;
  border-bottom: none;
  display: inline-block;
  width: auto;
}

article.post .magazine-header-content {
  width: 100%;
  display: table-cell;
  position: relative;
  height: 100vh;
  z-index: 1;
  vertical-align: middle;
  padding: 0;
  text-align: right;
}

article.post .section-title {
  float: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: .5em;
  text-shadow: 0 0 20px #000;
}

.magazine-deck {
  margin: 1.5em 0 1em auto;
  text-shadow: 0 0 8px #000;
  color: #ffffff;
  max-width: 650px;
  width: 100%;
  font-size: 16px;
}

.magazine-byline {
  color: #ffffff;
  margin-bottom: 1em;
  text-shadow: 0 0 8px #000;
  font-size: 16px;
}

.magazine-byline .uppercase {
  font-weight: bold;
}

.view-story {
  padding: 0;
  color: #fff;
  font-size: 2.5em;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-shadow: 0 0 8px #000;
}

/*----------------------------
Animations
----------------------------*/
.cit-fade-in {
  -webkit-animation-name: cit-fade-in;
          animation-name: cit-fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.cit-bounce {
  -webkit-animation-name: cit-bounce;
          animation-name: cit-bounce;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
